scipy
numpy
soundfile
python-levenshtein
torch
torchelastic
pytorch-lightning==1.0.0rc5
pytorch-lightning-bolts
trains
wget
librosa
tqdm
matplotlib
flask
sox
sklearn
soundfile
pytest
hydra-core==1.0.0rc1
google-cloud-storage
jupyter
