scipy
numpy
python-levenshtein
torch
torchaudio
torchelastic
pytorch-lightning>=1.1
wget
librosa
tqdm
matplotlib
flask
sox
sklearn
pytest
hydra-core
google-cloud-storage
jupyter
git+https://github.com/romesco/hydra-lightning/#subdirectory=hydra-configs-lightning
https://github.com/PyTorchLightning/fairscale/archive/pl_1.1.0.zip